html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1em;
}

*{
    min-width: 0;
}

::-webkit-scrollbar{
    display: none;
}

:root{
    --main-bg: #084482;
    --alt-bg: #3bc1ff;
}

.wrap{
    display: grid;
    grid-template-columns: 30px 1fr 30px;
}

.wrap > *{
    grid-column:  2;
    min-width: 0;
}


.wrap header nav{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;

}

.wrap header nav img{
    width: 100px;
}

.wrap header{
    width: 100vw;
    grid-column: 1 / -1;
    padding: 18px 0;
}



.slideInLeft{
    animation: animateInLeft;
    z-index: 1000;
}

.slideInRight{
    animation: animateInRight;
    z-index: 1000;
}

.slideOutLeft{
    transform: translateX(-100%);
}


.slideOutRight{
    transform: translateX(100%)
}




@keyframes animateInLeft{
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0%);
    }
}


@keyframes animateInRight{
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0%);
    }
}


.wrap header nav #menu{
    width: 20px;
}



menu{
    position: absolute;
    z-index: 4000;
    width: 100vw;
    height: 100vh;
    background-color: var(--alt-bg);
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
    letter-spacing: 0.2em;
    font-size: 0.8em;
    display: none;

}

menu img{
    filter: invert();
    position: absolute;
    top: 20px;
    right: 30px;
}

menu .cta{
    position: relative;
    top: 25%;
}


menu .cta button{
    height: 23px;
    background: var(--main-bg);
    border: none;
    border-radius: 15px;
    margin: 10px;
    color: white;
    
}

menu .cta button h6, h5{
    padding: 0 20px;
    margin: 0;
}



.wrap .jumbotron{
    background: url('images/jumbo.jpg');
    background-size: cover;
    background-position: top;
    grid-column: 1 / -1;
    height: 90vh;
    animation: 10s ease-in slideshow;
    animation-iteration-count: infinite;
    width: 100%;
}

@keyframes slideshow{
    0%{
    background: url('images/jumbo1.png');
    background-size: cover;
    background-position: top;
    grid-column: 1 / -1;
    height: 90vh;
    }

    25%{
    background: url('images/jumbo1.png');
    background-size: cover;
    background-position: top;
    grid-column: 1 / -1;
    height: 90vh;
    }

    45%{
    background: url('images/jumbo2.png');
    background-size: cover;
    background-position: top;
    grid-column: 1 / -1;
    height: 90vh;
    }

    65%{
    background: url('images/jumbo3.png');
    background-size: cover;
    background-position: top;
    grid-column: 1 / -1;
    height: 90vh;
    }

    100%{
    background: url('images/jumbo1.png');
    background-size: cover;
    background-position: top;
    grid-column: 1 / -1;
    height: 90vh;
    }

}

.wrap .jumbotron .jumbo-content{
    position: absolute;
    align-items: center;
    top: 25vh;
    left: 5%;
    z-index: 1100;
}

.wrap .jumbotron .jumbo-content h1{
    position: relative;
    font-size: 3.5em;
    color: var(--alt-bg);
    width: 90%;
    line-height: 1em;
    text-transform: capitalize;
    padding: 0 20px;
    margin: 0.4em 0;
    animation: 6s ease-in textslide;
    animation-iteration-count: infinite;
}

@supports(-webkit-text-stroke: 1px var(--alt-bg)) {
    .wrap .jumbotron .jumbo-content span{
        -webkit-text-stroke: 1px var(--alt-bg);
    }
  
}

  .wrap .jumbotron .jumbo-content span{
        color:  #00aeff00;
    }


    span::before{
    content: "Talent";
    position: absolute;
    display: inline;
    top: 20;
    left: 10;
    width: 20%;
    height: 50%;
    color: #ffffff;
    border-right: 1px solid var(--alt-bg);
    overflow: hidden;
    animation: header 5s linear infinite;
}
 
 @keyframes header{
    0%, 10%, 100%{
        width: 0%;
    }

    70%, 90%{
        width: 30%;
    }
}



/* @keyframes textslide{
    25%{
      color: black  
    }

    75%{
      color: white;
    }

    100%{
      color: black  
    }

} */



.wrap .jumbotron .jumbo-content p{
    font-size: 0.8em;
    padding: 0px 20px;
    text-align: left;
    color: white;
    width: 77%;
    margin: 0;

}


.wrap .jumbotron .jumbo-content button{
    margin: 30px 20px;
    padding: 7px 27px;
    background-color:  var(--main-bg);
    border: none;
    text-transform: uppercase;
    font-size: 0.8em;
    color: azure;
}
/* 
.brightness{
    width: 100vw;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.836);
    grid-column: 1 / -1;
    z-index: 100;
    position: absolute;
    top: 3.5em;
} */



/* .wrap .jumbotron .jumbo-content button:hover{
   
} */


.trusted{
    text-align: center;
    width: 90vw;
    margin: 0 auto;
    position: relative;
}

.trusted a{
    text-decoration: none;
}
.trusted img{
    width: 30%;
    filter: invert();
    padding: 1em 1em;
}

.trusted h2{
    margin-top: 3em;
    padding: 1em;
    font-weight: bolder;
    color: var(--main-bg);
    font-size: 1em;
    text-transform: uppercase;
}



.wrap .recruit{
    width: 80vw;
    position: relative;
    margin: 0 auto;
    top: 5em;
}

.wrap .recruit .intro{
    margin: 3em 0;
}
.wrap .recruit .intro h3{
    font-size: 2em;
    margin: 0;
    padding: 0;
    text-align: left;
    color: var(--main-bg);
}
.wrap .recruit .intro p{
     text-align: left;
}

.wrap .recruit .talent-cards{
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.wrap .recruit .talent-cards .tal-card{
box-shadow:   -2px -2px 8px rgb(255, 255, 255),
                    -2px -2px 12px rgba(255, 255, 255, 0.5),
                    -2px -2px 8px rgba(255, 255, 255, 0.1),
                    2px 2px 8px rgba(0, 0, 0, 0.15);    height: 25rem;
}

.wrap .recruit .talent-cards .tal-card:hover{
    border: 1px solid var(--alt-bg);
}

.wrap .recruit .talent-cards .tal-card h6{
    background-color: var(--main-bg);
    color: white;
    font-weight: 300;
    width: 50%;
    margin: 0;
    padding: 9px 6px;
    text-align: center;
    font-size: 0.7em;
    border-radius: 0px 20px 20px 0;
}

.wrap .recruit .talent-cards .tal-card img, h3, p, .cta{
    position: relative;
    text-align: center;
}


.wrap .recruit .talent-cards .tal-card{
    opacity: 0;
    transform: translateX(-40px);
    transition: 1s all ease-in-out;
}

.wrap .recruit .talent-cards .one-appear{
    opacity: 1;
    transform: translateX(0);
}

.wrap .recruit .talent-cards .tal-card .img{
    width: 41%;
    height: 36%;
    border-radius: 50%;
    position: relative;
    display: grid;
    margin: 0 auto;
    top: 3em;
}

.recruit .talent-cards .tal-card h3, p{
    margin: 0;
}

.recruit .talent-cards .tal-card h3{
    padding-top: 4em;
}

.recruit .talent-cards .tal-card p{
    padding: 0.7em;
}

.recruit .talent-cards .tal-card .cta{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 2em;
}

.cta p{
    display: flex;
    font-size: 0.7em;
    cursor: pointer;
    padding: 4em 0;
    color: var(--main-bg);
}

.cta p img{
        filter: opacity(0.6);
        height: 1.4em;
}

.recruit .btn{
    text-align: center;
    background: var(--main-bg);
    position: relative;
    padding: 8px 2px;
    top: 3em;
     margin: 0 auto;
     width: 60%;
    font-weight: 500;
    color: white;
    border-radius: 5px;
}


.testimonial{
    width: 80vw;
    margin: 0 auto;
    position: relative;
    top: 16em;

}

.testimonial h3{
    font-size: 2em;
    margin: 0;
    padding: 0;
}
.testimonial h3, p{
    text-align: center;
    text-transform: capitalize;
    color: var(--alt-bg);
    color: black;
}

.testimonial .control{
    margin: 2em 0;
    display: grid;
    justify-content: flex-end;
    grid-template-columns: repeat(2, 30px);

}

.testimonial .test_cards{
    display: flex;
    overflow-x: hidden;
    transition: all 0.2s;
    cursor: pointer;
    transform: scale(1.0);
    overflow-x: scroll;
}



.testimonial .test_cards .card{
    box-shadow:   -2px -2px 8px rgb(255, 255, 255),
                    -2px -2px 12px rgba(255, 255, 255, 0.5),
                    -2px -2px 8px rgba(255, 255, 255, 0.1),
                    2px 2px 8px rgba(0, 0, 0, 0.15);  
    text-align: center;
    padding: 1em;
    height: 100%;
    transition: 1s;
    cursor: pointer;
    min-width: 75%;
    border: 1px solid var(--alt-bg);
    margin: 0 1em;
}

/* .testimonial .test_cards .card h5, h6{
    margin: 30px 0;

} */

.testimonial .test_cards .card p{
    padding: 25px  0px 0;
}

.testimonial .test_cards .card h5{
    font-size: 15px;
    padding: 0;
    margin: 2em 0;
    text-transform: uppercase;
    color: var(--main-bg);
}

.testimonial .test_cards .card h6{
    margin: 0;
    padding: 0;
    position: relative;
    top: -1.4em;
    font-weight: 300;
    font-size: 19px;
}


.testimonial .test_cards .card .test{
    border-radius: 50%;
    width: 100px;
    height: 110px;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    border: 3px dotted var(--main-bg);
}

.testimonial .test_cards .card .quote{
    padding: 5px;
    height: 70px;
    
}

.testimonial .test_cards{
    overflow-y: hidden;
}



.test_cards.active{
    cursor: grabbing;
    transform: scale(1.1);
    background-color: tomato;
} 


.wrap footer{
    grid-column: 1 / -1;
    color: black;
    position: relative;
    place-content: center;
    background: var(--main-bg);
    top: 20em;  
}

footer .contain{
    display: grid;
    justify-content: space-between;
    width: 90vw;
    margin: 0 auto;
    color: white;
  
}




footer .contain .talentpool p{
    padding: 2em 0;
    text-align: left;
    color: aliceblue;
    font-size: 0.8em;
    float: right;
}

footer .contain .Visit p{
    color: white;
}

hr{
    position: relative;
    width: 90vw;
}
 footer .contain ul{
    list-style-type: none;
}

 footer .contain ul li{
    padding-top: 5px;
}

 footer .contain ul li a:hover{
    color: aqua;
    font-size: 1.1em;
}

.tal-card, .btn{
    cursor: pointer;
}

.wrap footer .contain .talentpool{
    position: relative;
    top: 4em;
}
.wrap footer .contain .talentpool img{
    filter: invert();
    margin-top: 1em;
    width: 6em;
    float: left;
}

.offers{
    font-size: 0.7em;
    position: relative;
    margin-top: 3em;
    top: 1em;
}

.offers ul li{
    position: relative;
    right: 1.8em;
}

.links{
    position: relative;
    top: 3em;
    padding: 1em 0;
    text-align: center;
    margin: 5em;
}

 footer .contain a{
    text-decoration: none;
    color: white;
    transition: 0.5s ease-in-out;
}


footer .copyright p{
    padding: 7px;
    color: rgba(255, 255, 255, 0.404);
    position: relative;
    z-index: 100;
    cursor: pointer;
    font-size: 0.8em;
    top: -4em;
}


@media(min-width: 600px){

    .wrap header nav ul{
    display: block;
    }
    .trusted img{
    width: 10%;
    filter: invert();
    padding: 1em 1em;
}
    .wrap footer .contain{
        display: flex;
    }

    .wrap footer .talentpool{
        width: 30%;
    }


    .wrap footer .contain .links{
        display: flex;
        justify-content: space-between;
        font-size: 0.7em;
        width: 60%;
    }
    
    .wrap footer .contain .Explore{
        text-align: center;
    }

    .wrap footer .contain .offers ul{
    position: relative;
    right: 17%;
    text-align: center;
    }

    .wrap footer .contain .Legal ul{
    position: relative;
    right: 40%;
    }

    .wrap footer .contain .Follow ul{
    position: relative;
    right: 40%;
    }
}


 .wrap header nav ul{
        display: flex;
        margin: 0;
        justify-content: space-between;
        width: 50%;
        list-style: none;
        display: none;
    }

        .wrap header nav ul li a{
            text-decoration: none;
            text-transform: capitalize;
            font-weight: 500;
            font-size: 0.8em;
        }

        .wrap header nav ul li .hire{
            background: var(--main-bg);
            padding: 0.7em;
            border-radius: 0.3em;
            color: #ffffff;
        }

        .wrap header nav ul li .sign{
            border: 1px solid var(--main-bg);
            padding: 0.7em;
            background: none;
            border-radius: 0.3em;
            color:var(--main-bg)
        }

    @media screen and (min-width: 500px){
    #menu{
    display: none; 
    padding: 10px 30px ; 
    }

    .wrap header nav ul{
    display: flex; 
    font-size: 0.4em;
    padding: 1em 5px;
    width: 60%;
    }
}


@media screen and (min-width: 700px){

    .wrap header nav ul{
    font-size: 0.7em;
    margin: 0;
    }
}

@media screen and (min-width: 800px){

    .wrap header nav ul{
    font-size: 0.9em;
    margin: 0;
    }
}


